$very-light-white:#f2f2f2;
$light-white:#dddddd;
$vert-light-gray: #e6e6e6;
$light-gray:#999999;
$light-orange:#f7c51e;
$dark-orange:#e0b21a;
$sky-blue:#1fa7da;
$header-bg:#454545;
$border-color:rgba(250, 250, 250, 0.12);
$widget-heading-border:1px solid #00000014;
$text-color:#3d3d3d;

$monoserat:'Montserrat', sans-serif, Helvetica, Arial;
$source-pro:'Source Sans Pro', Helvetica, Arial, sans-serif;