.o-firmie{
    &__content{
        padding:50px;
        @include breakpoint-down(medium){
            padding:50px 25px;
        }
        @include breakpoint-down(small){
            padding:50px 15px;
        }
        p{
            margin: 8px 0px;
        }
    }
}